/* Custom property */
:root{
    --primary: gray; /*primary*/
    --secondary: #58CD36; /*secondary*/
    --tertiary: white; /*white*/
    --accent: black; /*accent*/
    --text-size: 20px; /*fontSize*/
    --rules: 2; /*lineHeight*/
    --text-definition: bold; /*FontWeight*/
    --text-type: "Oswald", sans-serif; /*FontFamily for text*/
    --text-heading: 'Roboto', sans-serif;; /*Fontfamily for Heading */
}

/* styling browser */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* artikel */
article {
    width: 40em;
    background-color: var(--primary);
    margin-left: 35%;
    margin-top: 15%;
    padding: 20px;
    line-height: var(--rules);
    box-shadow: 5px 5px 5px var(--accent);
    position: relative;
}

/* header */
h1 {
    color: var(--secondary);
    font-family: var(--text-heading);
    padding-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    font-size: var(--text-size);
}

/* paragraaf */
p {
    color: var(--tertiary);
    font-family: var(--text-type);
    padding: 20px;
    line-height: var(--rules);
    font-weight: var(--text-definition);
    font-size: 20px;
    width: 30em;
}

/* button */
button {
    margin-left: 15px;
    padding: 10px;
    color: var(--secondary);
    font-weight: var(--text-definition);
    font-family: var(--text-type);
    background-color: var(--accent);
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--tertiary);
    font-family: var(--text-heading);
    font-size: var(--text-size);
}